# This is so we understand failures better
build --verbose_failures
test --test_strategy=standalone --test_output=streamed --cache_test_results=no

# Include git version info
build --stamp --workspace_status_command ci/print-workspace-status.sh