[bumpversion]
current_version = 0.0.3
commit = True
tag = True

[bumpversion:file:anubis/package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:core/src/main/java/org/bptlab/cepta/Main.java]
search = version \= "{current_version}"
replace = version \= "{new_version}"
