<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Group of group Suite" verbose="1">
    <test name="Group of group Test">
        <groups>
            <define name="include-group">
                <include name="active" />
                <include name="unit-tests" />
            </define>
            <define name="exclude-group">
                <include name="broken" />
                <include name="integration-tests-db" />
            </define>
            <run>
                <include name="include-group" />
                <exclude name="exclude-group" />
            </run>
        </groups>
        <classes>
            <class name="org.bptlab.cepta.ExampleTests" />
            <class name="org.bptlab.cepta.WeatherLocationCorrelationTests" />
        </classes>
    </test>
</suite>

